{% extends '/user/base.html' %}
{% block body %}
 <!-- BEGIN: Main Menu-->
 <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" href="index.html">
                <span class="brand-logo">
                    <!-- <img src="/static/app-assets/images/logo/logo.png" alt="logo"> -->
                    </span>
                    <h2 class="brand-text">Swasthyakundli</h2>
                </a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a class="d-flex align-items-center" href="/User">
                    <i data-feather="home"></i>
                    <span class="menu-title text-truncate" data-i18n="Home">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/record">
                    <i data-feather="clipboard"></i>
                    <span class="menu-title text-truncate" data-i18n="Record Your Health Data">Record Your Health Data</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/health_history">
                    <i data-feather="book"></i>
                    <span class="menu-title text-truncate" data-i18n="Health History">Health History</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/family_health_tree">
                    <i data-feather='list'></i>
                    <span class="menu-title text-truncate" data-i18n="Family Health Tree">Family Health Tree</span>
                </a>
            </li>
            
            <li class="  nav-item">
                <a class="d-flex align-items-center" href="/User/care_centers">
                    <i data-feather='plus-square'></i>
                    <span class="menu-title text-truncate" data-i18n="Care Centers">Care Centers</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/care_team">
                    <i data-feather="users"></i>
                    <span class="menu-title text-truncate" data-i18n="Your Care Team">Your Care Team</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/coverage_benefits">
                    <i data-feather="shield"></i>
                    <span class="menu-title text-truncate" data-i18n="Coverage Benefits">Coverage Benefits</span>
                </a>
            </li>
            
            <li class="active nav-item">
                <a class="d-flex align-items-center" href="/User/community_support">
                    <i data-feather="heart"></i>
                    <span class="menu-title text-truncate" data-i18n="Community Support">Community Support</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/healthcare_policies">
                    <i data-feather="file-text"></i>
                    <span class="menu-title text-truncate" data-i18n="Healthcare Policies">Healthcare Policies</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/health_tips">
                    <i data-feather='cpu'></i>
                    <span class="menu-title text-truncate" data-i18n="Smart Health Tips">Smart Health Tips</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/health_devices">
                    <i data-feather='watch'></i>
                    <span class="menu-title text-truncate" data-i18n="Connect Health Devices">Connect Health Devices</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/contact_us">
                    <i data-feather='phone'></i>
                    <span class="menu-title text-truncate" data-i18n="Get in Touch">Get in Touch</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
<!-- END: Main Menu-->
     <!-- BEGIN: Content-->
     <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Community Support</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="community-support.html">Community Support</a>
                                    </li>
                                    <li class="breadcrumb-item active">Community-Support
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="modal-examples">
                    <div class="row">
                        <!-- add new card  -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i data-feather="credit-card" class="font-large-2 mb-1"></i>
                                    <h5 class="card-title">Add New Card</h5>
                                    <p class="card-text">
                                        Quickly collect the credit card details, built in input mask and form validation support.
                                    </p>

                                    <!-- modal trigger button -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                        Show
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- / add new card  -->
                    </div>
                </section>
                <!-- add new card modal  -->
                <div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-sm-5 mx-50 pb-5">
                                <h1 class="text-center mb-1" id="addNewCardTitle">Add New Card</h1>
                                <p class="text-center">Add card for future billing</p>

                                <!-- form -->
                                <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false">
                                    <div class="col-12">
                                        <label class="form-label" for="modalAddCardNumber">Card Number</label>
                                        <div class="input-group input-group-merge">
                                            <input id="modalAddCardNumber" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="1356 3215 6548 7898" aria-describedby="modalAddCard2" data-msg="Please enter your credit card number" />
                                            <span class="input-group-text cursor-pointer p-25" id="modalAddCard2">
                                                <span class="add-card-type"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label" for="modalAddCardName">Name On Card</label>
                                        <input type="text" id="modalAddCardName" class="form-control" placeholder="John Doe" />
                                    </div>

                                    <div class="col-6 col-md-3">
                                        <label class="form-label" for="modalAddCardExpiryDate">Exp. Date</label>
                                        <input type="text" id="modalAddCardExpiryDate" class="form-control add-expiry-date-mask" placeholder="MM/YY" />
                                    </div>

                                    <div class="col-6 col-md-3">
                                        <label class="form-label" for="modalAddCardCvv">CVV</label>
                                        <input type="text" id="modalAddCardCvv" class="form-control add-cvv-code-mask" maxlength="3" placeholder="654" />
                                    </div>

                                    <div class="col-12">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-switch form-check-primary me-25">
                                                <input type="checkbox" class="form-check-input" id="saveCard" checked />
                                                <label class="form-check-label" for="saveCard">
                                                    <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                    <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                </label>
                                            </div>
                                            <label class="form-check-label fw-bolder" for="saveCard">Save Card for future billing?</label>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-primary me-1 mt-1">Submit</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1" data-bs-dismiss="modal" aria-label="Close">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ add new card modal  -->
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
{% endblock %}
    