{% extends '/user/base.html' %}
{% block body %}
 <!-- BEGIN: Main Menu-->
 <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" href="index.html">
                <span class="brand-logo">
                    <!-- <img src="/static/app-assets/images/logo/logo.png" alt="logo"> -->
                    </span>
                    <h2 class="brand-text">Swasthyakundli</h2>
                </a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a class="d-flex align-items-center" href="/User">
                    <i data-feather="home"></i>
                    <span class="menu-title text-truncate" data-i18n="Home">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/record">
                    <i data-feather="clipboard"></i>
                    <span class="menu-title text-truncate" data-i18n="Record Your Health Data">Personal Data</span>
                </a>
            </li>
            <li class=" nav-item">
                <a class="d-flex align-items-center" href="/User/recordData">
                    <i data-feather="clipboard"></i>
                    <span class="menu-title text-truncate" data-i18n="Record Your Health Data">Record Your Health Data</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/health_history">
                    <i data-feather="book"></i>
                    <span class="menu-title text-truncate" data-i18n="Health History">Health History</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/family_health_tree">
                    <i data-feather='list'></i>
                    <span class="menu-title text-truncate" data-i18n="Family Health Tree">Family Health Tree</span>
                </a>
            </li>
            
            <li class="  nav-item">
                <a class="d-flex align-items-center" href="/User/care_centers">
                    <i data-feather='plus-square'></i>
                    <span class="menu-title text-truncate" data-i18n="Care Centers">Care Centers</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/care_team">
                    <i data-feather="users"></i>
                    <span class="menu-title text-truncate" data-i18n="Your Care Team">Your Care Team</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/coverage_benefits">
                    <i data-feather="shield"></i>
                    <span class="menu-title text-truncate" data-i18n="Coverage Benefits">Coverage Benefits</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/community_support">
                    <i data-feather="heart"></i>
                    <span class="menu-title text-truncate" data-i18n="Community Support">Community Support</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/healthcare_policies">
                    <i data-feather="file-text"></i>
                    <span class="menu-title text-truncate" data-i18n="Healthcare Policies">Healthcare Policies</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/health_tips">
                    <i data-feather='cpu'></i>
                    <span class="menu-title text-truncate" data-i18n="Smart Health Tips">Smart Health Tips</span>
                </a>
            </li>
            
            <li class="active nav-item">
                <a class="d-flex align-items-center" href="/User/health_devices">
                    <i data-feather='watch'></i>
                    <span class="menu-title text-truncate" data-i18n="Connect Health Devices">Connect Health Devices</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="d-flex align-items-center" href="/User/contact_us">
                    <i data-feather='phone'></i>
                    <span class="menu-title text-truncate" data-i18n="Get in Touch">Get in Touch</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
<!-- END: Main Menu-->
       <!-- BEGIN: Content-->
       <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Connect Health Devices</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="health-devices.html">Connect Health Devices</a>
                                    </li>
                                    <li class="breadcrumb-item active">Health-Devices
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i data-feather="smartphone" class="feather icon-smartphone font-large-2 mb-1"></i>
                                </div>
                                <div class="col-3">
                                    <h2>Add New Device</h2>
                                </div>
                                <div class="col-7"></div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#twoFactorAuthModal">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="twoFactorAuthModal" tabindex="-1" aria-labelledby="twoFactorAuthTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg two-factor-auth">
                        <div class="modal-content">
                            <div class="modal-header bg-transparent">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body pb-5 px-sm-5 mx-50">
                                <h1 class="text-center mb-1" id="twoFactorAuthTitle">Select Add Device</h1>
                                <p class="text-center mb-3">
                                    You also need to select a method by which the proxy authenticates to the directory server.
                                </p>
                
                                <form id="twoFactorAuthForm" action="submit.php" method="POST">
                                    <div class="custom-options-checkable">
                                        <input class="custom-option-item-check" type="radio" name="twoFactorAuthRadio" id="twoFactorAuthApps" value="apps-auth" checked />
                                        <label for="twoFactorAuthApps" class="custom-option-item d-flex align-items-center flex-column flex-sm-row px-3 py-2 mb-2">
                                            <span><i data-feather="smartphone" class="font-large-2 me-sm-2 mb-2 mb-sm-0"></i></span>
                                            <span>
                                                <span class="custom-option-item-title h3">Mobile Apps</span>
                                                <span class="d-block mt-75">
                                                    Get codes from an app like Google Authenticator, Microsoft Authenticator, Authy, or 1Password.
                                                </span>
                                            </span>
                                        </label>
                
                                        <input class="custom-option-item-check" type="radio" name="twoFactorAuthRadio" value="sms-auth" id="twoFactorAuthSms" />
                                        <label for="twoFactorAuthSms" class="custom-option-item d-flex align-items-center flex-column flex-sm-row px-3 py-2">
                                            <span><i data-feather="watch" class="feather icon-watch font-large-2 me-2 mb-2"></i></span>
                                            <span>
                                                <span class="custom-option-item-title h3">Watch App</span>
                                                <span class="d-block mt-75">We will send a code via SMS if you need to use your backup login method.</span>
                                            </span>
                                        </label>
                                    </div>
                
                                    <button type="submit" class="btn btn-primary float-end mt-3">
                                        <span class="me-50">Continue</span>
                                        <i data-feather="chevron-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="ajax-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">Search Connected Devices</h4>
                                </div>
                                <div class="card-datatable">
                                    <table class=" table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Device Name</th>
                                                <th>Model Number</th>
                                                <th>Status</th>
                                                <th>Join date</th>
                                                <th>Remove</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>iWatch</td>
                                                <td>M0420</td>
                                                <td>Active</td>
                                                <td>01/01/2023</td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#imgModel">
                                                        Remove
                                                    </button>
                                                    <div class="modal fade text-start" id="imgModel" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel33">Img 1</h4>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="m-3">
                                                                    <h3>Remove</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#detailsModel">
                                                        View Details
                                                    </button>
                                                    <div class="modal fade text-start" id="detailsModel" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel33">More Details</h4>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="m-2">
                                                                    <h3>Details</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

   {% endblock %}